<h4 class="mb-3">Novo Cadastro</h4>
<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="firstName">Nome</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value="" required [(ngModel)]="user.nome" name="nome">
      <div class="invalid-feedback">
        Nome é Obrigatório
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="you@example.com" [(ngModel)]="user.email" name="email">
    <div class="invalid-feedback">
      E-mail é obrigatório
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Senha</label>
    <input type="email" class="form-control" id="email" placeholder="you@example.com" [(ngModel)]="user.password" name="password">
    <div class="invalid-feedback">
      Senha é obrigatório
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Tipo</label>
      <select class="custom-select d-block w-100" id="country" required [(ngModel)]="user.type" name="type">
        <option value="Doctor">Médico</option>
        <option value="Doctor">Paciente</option>
      </select>
      <div class="invalid-feedback">
        Selecione um tipo de usuário
      </div>
    </div>
    
  
  
  </div>
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="saveUser()">Salvar</button>
